.main-container {
  .eight-one {
    z-index: 1;
    display: flex;
    position: absolute;
    left: 5%;
    top: 2%;
  }

  .search-component {
    display: flex;
    left: 72%;
    max-width: 400px;
    position: relative;
  }
}

.container {
  display: grid;
  flex-direction: row;
  grid-template-columns: repeat(4, 1fr);
  position: absolute;
  top: 5%;
}

.box-form {
  display: flex;
  flex-direction: column;
  height: 205px;
  width: 342px;
  margin-top: 40px;
  margin-left: 70px;
  border: 2px solid #1f1f1f;
  border-radius: 20px;
  transition: transform 0.2s ease-in-out;

  .btn-edit {
    display: flex;
    height: 4vh;
    button {
      background-color: #fff;
      padding: 0;
    }
  }

  p {
    color: #2c2c2c;
    margin-top: 20px;
    margin-left: 5px;
    cursor: pointer;
  }

  h3 {
    display: flex;
    align-items: center;
    flex-grow: 1;
    padding: 4px;
    white-space: nowrap;
    overflow: hidden;
  }

  button {
    border: none;
    padding: 5px;
  }
}

.edit-container {
  border: 2px solid #1f1f1f;
  background-color: #fff;
  border-radius: 10px;
  height: 5.8vh;
  width: 6vw;
  font-weight: bold;
  z-index: 2;

  label {
    display: flex;
    justify-content: center;
  }

  .edit {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  .delete {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  .edit:hover,
  .delete:hover {
    background-color: #f0f0f0;
  }
}

.btn-edit {
  border-bottom: 1.5px solid #ddd;
  padding: 8px;
  button {
    border: none;
    background-color: #2c2c2c;
    cursor: pointer;
  }
}

.description-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70%;
  text-align: center;
  z-index: 1;
}

.box-form:hover {
  transform: translateY(5px);
}

.dialog {
  height: 70vh;
  width: 65vw;
  border: none;
  border-radius: 20px;
  color: #1f1f1f;
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  .title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    height: 9vh;
    border-bottom: 1.5px solid #ddd;
  }
}

.btn-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btn-close-dialog {
  display: flex;
  position: absolute;
  left: 95%;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  height: 40px;
  border-radius: 50%;
  border: none;
  min-width: 40px;
  margin: 0;
  cursor: pointer;
  width: 10px;
  svg {
    margin-right: 15px;
    height: 25px;
    margin: 0;
  }
}

.btn-create {
  margin-right: 70px;
  border-radius: 10px;
  border: 1.5px solid #000;
  background-color: #fff;
  padding: 5px;
  font-weight: bold;
  cursor: pointer;
}

.btn-update {
  margin-right: 10px;
}

.btn-create:hover {
  background-color: #f5f5f5;
}

.message {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  border: 1px solid #1f1f1f;
  border-radius: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
