.main {
  position: relative;
  margin-left: 150px;
  color: #1f1f1f;

  .grade {
    display: flex;
    justify-content: space-between;
  }

  hr {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .desc {
    display: flex;
    justify-content: space-between;
    flex-direction: row;

    .description-title {
      margin-bottom: 5px;
    }

    .description-value {
      font-style: italic;
    }
  }
}

.container-answer {
  position: absolute;
  top: 40px;
  display: grid;
  flex-direction: row;
  grid-template-columns: repeat(5, 1fr);

  h1 {
    position: relative;
    top: -35%;
    left: 3%;
    color: #000;
  }
}

.box-main {
  display: flex;
  position: absolute;
  top: 5%;
}

.box-answer {
  height: 110px;
  width: 342px;
  margin-top: 40px;
  margin-right: 100px;
  transition: transform 0.2s ease-in-out;

  .answer {
    display: flex;
    flex-direction: column;
    height: 205px;
    width: 342px;
    border: 2px solid #2c2c2c;
    border-radius: 20px;
    transition: transform 0.2s ease-in-out;
    cursor: pointer;

    p {
      color: #2c2c2c;
      margin-top: 20px;
      margin-left: 5px;
      cursor: pointer;
    }
  }

  .title {
    border-bottom: 1.5px solid #ddd;
    padding: 10px;
  }
}

.box-answer:hover {
  transform: translateY(5px);
}

.description-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70%;
  text-align: center;
}

.message {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  border: 1px solid #1f1f1f;
  border-radius: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
