header {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-left: 24px;

  .logo {
    height: 80px;
  }

  button {
    margin-right: 10px;
    cursor: pointer;
    border: none;
    background-color: transparent;
    .logout {
      color: white;
      height: 40px;
      width: 40px;
    }
  }
}

.sidebar {
  .user-img {
    width: 50px;
    border-radius: 100%;
    border: 1px solid #eee;
  }
}
