.main-container {
  position: relative;
  background-color: #fff;
  background-size: contain;
  min-height: 100vh;
  top: 0;
  left: 80px;
  transition: left 0.5s ease, width 0.5s ease;
  width: calc(100% - 80px);
  padding: 1rem;
  z-index: 1;

  .eight-one {
    position: absolute;
    width: 8vw;
    left: 5%;
  }

  .search-component {
    display: flex;
    left: 72%;
    max-width: 400px;
    position: relative;
  }

  .container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    position: absolute;
    top: 5%;

    .box-question {
      display: flex;
      flex-direction: column;
      height: 205px;
      width: 342px;
      margin-top: 40px;
      margin-left: 70px;
      border: 2px solid #1f1f1f;
      border-radius: 20px;
      transition: transform 0.2s ease-in-out;

      &:hover {
        transform: translateY(5px);
      }

      .btn-edit {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 4vh;
        border-bottom: 1.5px solid #ddd;
        padding: 10px;

        button {
          border: none;
          background-color: transparent;
          cursor: pointer;
        }

        h3 {
          margin: 0;
          white-space: nowrap;
          overflow: hidden;
        }

        .edit-container {
          position: relative;
          top: 13px;
          border: 2px solid #1f1f1f;
          background-color: #fff;
          border-radius: 10px;
          height: 5.8vh;
          width: 6vw;
          font-weight: bold;

          label {
            display: flex;
            justify-content: center;
          }

          .edit {
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
          }

          .delete {
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
          }

          .edit:hover,
          .delete:hover {
            background-color: #f0f0f0;
          }
        }
      }

      p {
        color: #2c2c2c;
        margin-top: 20px;
        margin-left: 5px;
        cursor: pointer;
      }
    }

    .description-container {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 70%;
      text-align: center;
    }

    .dialog-container {
      .dialog {
        border: none;
        border-radius: 20px;
        color: #1f1f1f;
        background-color: #fff;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 70vh;
        width: 65vw;

        .title {
          display: flex;
          justify-content: space-between;
          padding: 20px;
          border-bottom: 1.5px solid #ddd;
        }

        .btn-close-dialog {
          display: flex;
          align-items: center;
          justify-content: center;
          height: 40px;
          min-width: 40px;
          border-radius: 50%;
          background-color: #fff;
          border: none;
          cursor: pointer;

          svg {
            height: 25px;
            margin: 0;
          }
        }

        .form-component {
          padding: 20px;
        }
      }
    }

    .btn-container {
      display: flex;
      align-items: center;
    }

    .btn-create {
      border: 1.5px solid #000;
      border-radius: 10px;
      margin-right: 10px;
      background-color: #fff;
      height: 4vh;
      padding: 5px;
      font-weight: bold;
      cursor: pointer;
    }

    .btn-create:hover {
      background-color: #f5f5f5;
    }

    .message {
      text-align: center;
      margin-top: 20px;
      h1 {
        font-size: 1.5rem;
        color: #1f1f1f;
      }
    }
  }

  input {
    width: 32vw;
    height: 5vh;
    border: none;
    border-radius: 4px;
    margin-left: 10px;
  }

  .footer {
    padding: 10px 20px;
    background-color: white;
    border-top: 1px solid #ddd;
    border-radius: 20px;

    display: flex;
    justify-content: flex-end;
  }

  .btn {
    height: 30px;
    border-radius: 10px;
    border: none;
    min-width: 70px;
    margin: 0;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
  }

  .btn-submit {
    border: 1.5px solid #000;
    background-color: #fff;
    color: #1f1f1f;
    margin-right: 10px;
  }
}
