<div class="dialog-container">
  <dialog #dialogPut class="dialog-put form-group-dialog">
    <div class="title">
      <h1>Form Updater</h1>
      <div class="button-container">
        <button type="submit" class="btn btn-submit" (click)="updateForm()">
          Submit
        </button>
        <button class="btn btn-close-dialog" (click)="closePutDialog($event)">
          Close
        </button>
      </div>
    </div>
    <form [formGroup]="formGroup" (ngSubmit)="updateForm()">
      <div class="form-group">
        <div class="label-input old-title">
          <label>Old Title:</label>
          <p>{{ formInput.title }}</p>
        </div>
        <div class="label-input new-title">
          <label for="title">New Title</label>
          <input formControlName="title" placeholder=" New Group Title" />
        </div>
      </div>
    </form>
  </dialog>
  <app-form-dialog-update [updateEvent]="updateEvent" />
</div>
