.dialog-put {
  height: 25vh;
  width: 40vw;
  border: none;
  border-radius: 20px;
  padding: 20px;
  color: #fff;
  background-color: #383838;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  .title {
    display: flex;
    justify-content: space-between;
    flex-direction: row;

    .button-container {
      .btn-submit {
        margin-right: 10px;
      }
    }
  }

  .label-input {
    display: flex;
    margin-top: 10px;
    margin-bottom: 30px;

    p {
      margin-left: 20px;
      color: grey;
    }
  }

  input {
    width: 32vw;
    height: 5vh;
    border: none;
    border-radius: 4px;
    margin-left: 10px;
  }
}

.btn {
  height: 30px;
  background-color: #daff7d;
  border-radius: 10px;
  border: none;
  min-width: 70px;
  margin: 0;
  margin-top: 5px;
  font-weight: bold;

  cursor: pointer;
}

.btn-close-dialog {
  background-color: #9381ff;
  width: 10px;

  svg {
    margin-right: 15px;
    height: 25px;
    margin: 0;
  }
}
