button {
  align-items: center;
  justify-content: center;
  flex-direction: row;
  display: flex;
  height: 100px;
  min-width: 220px;
  border: none;
  border-radius: 8px;
  margin: 100px;
  margin-top: 50px;
  margin-bottom: 0;
  cursor: pointer;
  background: #383838;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  color: #fff;

  transition: background-color 0.2s ease-out;

  svg {
    margin-right: 15px;
    height: 25px;
  }
}

.dialog,
.dialog-message {
  height: 25vh;
  width: 75vh;
  border: none;
  border-radius: 20px;
  padding: 20px;
  color: #fff;
  background-color: #383838;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  input {
    border: none;
    border-radius: 4px;
    padding: 25px;
    height: 36px;
    margin-left: 10px;
    width: 30vw;
  }
}

.old-title {
  display: flex;

  p {
    margin-left: 40px;
    font-weight: bold;
  }
}

.new-title {
  margin-top: 50px;
}

.title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  flex-direction: row;
}

.btn {
  height: 30px;
}

.btn-close-dialog,
.btn-submit {
  background-color: #0d99ff;
  min-width: 70px;
  margin: 0;
  margin-top: 5px;
}

.btn-submit {
  right: 0;
  left: 0;
}
.btn-close-dialog {
  svg {
    margin: 0;
  }
}
