:host {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-left: 24px;

  .logo {
    height: 80px;
  }

  button {
    margin-right: 10px;
    cursor: pointer;
    border: none;
    background-color: transparent;
    .logout {
      color: white;
      height: 40px;
      width: 40px;
    }
  }
}

.sidebar {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 80px;
  background-color: #1e1e1e;
  padding: 0.4rem 0.8rem;
  transition: width 0.5s ease, left 0.5s ease;
  z-index: 2;

  .user-img {
    width: 50px;
    border-radius: 100%;
    border: 1px solid #eee;
  }

  #btn {
    position: absolute;
    color: #fff;
    top: 0.4rem;
    left: 50%;
    font-size: 1.2rem;
    line-height: 50px;
    transform: translateX(-50%);
    cursor: pointer;
  }
}

.sidebar ul {
  height: 81vh;
}

.sidebar ul li {
  position: relative;
  list-style-type: none;
  height: 50px;
  width: 90%;
  margin: 0.8rem auto;
  line-height: 50px;
}

.sidebar ul li a {
  color: #fff;
  display: flex;
  align-items: center;
  text-decoration: none;
  width: 50px;
  height: 50px;
  border-radius: 0.8rem;
}

.sidebar ul li a:hover {
  color: #1e1e1e;
}

.sidebar ul li a i {
  min-width: 50px;
  text-align: center;
  height: 50px;
  border-radius: 12px;
  line-height: 50px;
}

.bx-green:hover {
  background-color: #daff7d;
}

.bx-purple:hover {
  background-color: #9381ff;
}

.tooltip {
  background-color: #fff;
}

.sidebar ul li .tooltip {
  position: absolute;
  left: 125px;
  top: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0.5rem 0.8rem rgba(0, 0, 0, 0.2);
  border-radius: 0.6rem;
  padding: 0.4rem 1.2rem;
  line-height: 1.8rem;
  z-index: 20;
  opacity: 0;
}

.sidebar ul li:hover .tooltip {
  opacity: 1;
}

.active ul li .tooltip {
  display: none;
}

.sidebar .top .logo {
  display: flex;
  height: 50px;
  width: 100%;
  align-items: center;
  pointer-events: none;
  opacity: 0;
}

.active .top .logo {
  opacity: 1;
  color: #fff;
}

.top .logo i {
  font-size: 0.5rem;
  margin-right: 5px;
}

.active #btn {
  left: 90%;
}

.active ~ .main-content {
  left: 250px;
  width: calc(100% - 250px);
}

.active {
  width: 250px;
}

.user {
  display: flex;
  align-items: center;
  margin: 1rem 0;
}

.user p {
  opacity: 1;
  margin-left: 1rem;
}

.bold {
  font-weight: 600;
}

p {
  color: #fff;
}

.sidebar p {
  opacity: 0;
}

.active p {
  opacity: 1;
}

.nav-item {
  opacity: 0;
}

.active .nav-item {
  opacity: 1;
}

.movtechlogo {
  height: 30px;
  width: 30px;
}
li {
  cursor: pointer;
}

.logout-span {
  top: 40%;
}
