.dialog {
  display: flex;
  justify-content: center;
  height: 30vh;
  width: 30vw;
  border: 1px solid #000;
  border-radius: 20px;
  padding: 20px;
  color: #1f1f1f;
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  button {
    height: 8vh;
    width: 10vw;
    color: #fff;
    font-weight: bold;
    font-size: x-large;
    position: fixed;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #0d99ff;
    border: none;
    border-radius: 10px;
    min-width: 70px;
    margin: 0;
    margin-top: 5px;
    cursor: pointer;
  }

  .btn:hover {
    background-color: #007acc;
  }
}
