<div class="container">
  <div
    class="box-form questions-container"
    *ngFor="let question of selectedQuestionList; let i = index"
  >
    <h5>{{ question.content }}</h5>
    <div class="answer-container">
      <select [(ngModel)]="userAnswers[i].grade">
        <option
          *ngFor="let option of [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]"
          [value]="option"
        >
          {{ option }}
        </option>
      </select>
      <input
        type="text"
        placeholder="Description (optional)"
        [(ngModel)]="userAnswers[i].description"
      />
    </div>
  </div>
</div>
