<div class="answer-container">
  <div class="box-answer" *ngFor="let answer of answerList; let i = index">
    <div class="btn-edit">
      <h5>Grade - {{ answer.grade }}</h5>
      <div class="edit-container" *ngIf="visibleElements[i]">
        <label class="edit">Edit</label>
        <label class="delete">Delete</label>
      </div>
      <button
        class="toggle-btn"
        (click)="toggleElement(i)"
        *ngIf="role === 'Admin'"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          height="24px"
          viewBox="0 -960 960 960"
          width="24px"
          fill="#1f1f1f"
        >
          <path
            d="M480-160q-33 0-56.5-23.5T400-240q0-33 23.5-56.5T480-320q33 0 56.5 23.5T560-240q0 33-23.5 56.5T480-160Zm0-240q-33 0-56.5-23.5T400-480q0-33 23.5-56.5T480-560q33 0 56.5 23.5T560-480q0 33-23.5 56.5T480-400Zm0-240q-33 0-56.5-23.5T400-720q0-33 23.5-56.5T480-800q33 0 56.5 23.5T560-720q0 33-23.5 56.5T480-640Z"
          />
        </svg>
      </button>
    </div>
    <div class="description-container">
      <p
        *ngIf="
          answer.description != '' || answer.description.length > 0;
          else noDescription
        "
      >
        {{ answer.description }}
      </p>
    </div>
  </div>
</div>

<ng-template #noDescription>
  <p>There are no Desciption</p>
</ng-template>
