<div class="dialog-container">
  <dialog #dialog class="dialog-put form-group-dialog">
    <div class="title">
      <h1>Form Group Updater</h1>
      <div class="buttons-container">
        <button class="btn btn-close-dialog" (click)="closePutDialog()">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="ionicon"
            viewBox="0 0 512 512"
          >
            <path
              d="M289.94 256l95-95A24 24 0 00351 127l-95 95-95-95a24 24 0 00-34 34l95 95-95 95a24 24 0 1034 34l95-95 95 95a24 24 0 0034-34z"
              fill="#1f1f1f"
            />
          </svg>
        </button>
      </div>
    </div>
    <form [formGroup]="formGroup" (ngSubmit)="updateFormGroup()">
      <div class="form-group">
        <div class="label-input old-title">
          <label>Old Title:</label>
          <p>{{ selectFormGroupPut!.title }}</p>
        </div>
        <div class="label-input new-title">
          <label for="groupTitle">New Title</label>
          <input
            id="groupTitle"
            formControlName="title"
            placeholder=" New Group Title"
            (input)="onInput($event)"
          />
          <p class="error-input">Title cannot exceed 25 characters!</p>
        </div>
      </div>
      <button type="submit" class="btn btn-submit" (click)="updateFormGroup()">
        Submit
      </button>
    </form>
  </dialog>

  <app-dialog-message />
</div>
