main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 2%;
  gap: 50px;
  background-color: #fff;
  color: #1f1f1f;
}

.nps-speedometer {
  text-align: center;
}
.speedometer {
  width: 600px;
  height: 600px;
  border-radius: 50%;
  background: conic-gradient(
    #f7b748 0% 11%,
    #1adc79 14% 20%,
    #16b463 23% 25%,
    #fff 25% 75%,
    #fc5757 75% 99%,
    #f7b748 100% 3%
  );

  position: fixed;
  top: 30%;
  left: 34%;
}

.needle {
  position: absolute;
  width: 540px;
  height: 540px;
  padding: 150px;
  left: 50%;
  top: 50%;
  border-radius: 50%;
  translate: -50% -50%;
  background-color: #fff;
}

.nps-needle-container {
  position: absolute;
  top: -10%;
  left: 41%;
  transform: translateX(-50%);
  width: 20px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#nps-score {
  position: relative;
  z-index: 999;
  font-size: 30px;
  font-weight: bold;
  display: block;
  margin-top: -60px;
}

span {
  position: relative;
  z-index: 999;
  font-size: 18px;
  font-weight: 500;
}

.nps-speedometer-labels {
  display: flex;
  justify-content: space-between;
  position: absolute;
  width: 100%;
  top: 51%;
}

.npssn-passive {
  position: absolute;
  top: 10px;
  transform: translateX(-50%);
}

.nps-speedometer-number {
  font-size: 15px;
}

.pointer-img {
  display: flex;
  justify-content: center;
  position: absolute;
  width: 120px;
  top: 60%;
  left: 1%;
  transform-origin: bottom center;
  transition: transform 0.5s ease;
  filter: invert(1);
}

.nps-segments {
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.segment {
  padding: 15px;
}

.segment.detractors {
  color: #fc5757;
}

.segment.passives {
  color: #f7b748;
}

.segment.promoters {
  color: #1adc79;
}

.segment strong {
  display: block;
  font-size: 25px;
  margin-top: 5px;
}

.message {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  border: 1px solid #1f1f1f;
  border-radius: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
