<div class="main" *ngIf="filteredForms.length > 0; else noData">
  <app-search-box
    class="search-component"
    [title]="'Answers'"
    (searchEvent)="onSearch($event)"
  />
  <div class="container-answer">
    <div class="box-main">
      <div class="box-answer" *ngFor="let form of filteredForms">
        <div class="answer" (click)="openDialog(form.id)">
          <div class="title">
            <h3>{{ form.id }} - {{ form.title }}</h3>
          </div>
          <div class="description-container">
            <p>
              Clicando você abrirá um modal com todas as perguntas deste
              formulário específico, podendo também todas as respostas para cada
              pergunta!
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-answer-dialog #answerDialog [formId]="selectedFormId"></app-answer-dialog>
<ng-template #noData>
  <div class="message">
    <h1>There are no Answers</h1>
  </div>
</ng-template>
