<div class="forms-container">
  <div
    class="box-form box-dialog"
    *ngFor="let form of formsSelected; let i = index"
  >
    <div class="btn-edit">
      <h5>{{ form.id }} - {{ form.title }}</h5>
      <div
        class="edit-container"
        *ngIf="visibleElements[i] && role === 'Admin'"
      >
        <label class="edit" (click)="openPutDialog(form)">Edit</label>

        <label class="delete" (click)="deleteForm(form.id)">Delete</label>
      </div>
      <button (click)="toggleElement(i)" *ngIf="role === 'Admin'">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          height="24px"
          viewBox="0 -960 960 960"
          width="24px"
          fill="#e8eaed"
        >
          <path
            d="M480-160q-33 0-56.5-23.5T400-240q0-33 23.5-56.5T480-320q33 0 56.5 23.5T560-240q0 33-23.5 56.5T480-160Zm0-240q-33 0-56.5-23.5T400-480q0-33 23.5-56.5T480-560q33 0 56.5 23.5T560-480q0 33-23.5 56.5T480-400Zm0-240q-33 0-56.5-23.5T400-720q0-33 23.5-56.5T480-800q33 0 56.5 23.5T560-720q0 33-23.5 56.5T480-640Z"
          />
        </svg>

        <div class="message-container" *ngIf="formsSelected == []">
          <p>There are no Forms!</p>
        </div>
      </button>
    </div>
    <p (click)="openFormDialog(form)">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit.
    </p>
  </div>

  <app-form-updater [formInput]="selectedForm" />
  <app-form-deleter #formDeleter />

  <dialog #dialog class="form-dialog">
    <div class="title-btn">
      <h1>{{ selectedForm.title }}</h1>
      <div class="btn-container">
        <button
          class="btn btn-submit"
          (click)="questionComponent.submitAnswers()"
        >
          Submit
        </button>
        <button class="btn btn-close-dialog" (click)="closeFormDialog()">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="ionicon"
            viewBox="0 0 512 512"
          >
            <path
              d="M289.94 256l95-95A24 24 0 00351 127l-95 95-95-95a24 24 0 00-34 34l95 95-95 95a24 24 0 1034 34l95-95 95 95a24 24 0 0034-34z"
              fill="#1f1f1f"
            />
          </svg>
        </button>
      </div>
    </div>
    <app-box-question
      class="box-question"
      [selectedQuestionList]="selectedForm.questions"
      [idForm]="idForm"
    />
  </dialog>
</div>
