.box-form {
  display: flex;
  flex-direction: column;
  padding: 10px;
  height: 150px;
  width: 300px;
  background-color: #fff;
  border-radius: 20px;
  border: 2px solid #1f1f1f;

  transition: transform 0.2s ease-in-out;

  img {
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    height: 130px;
    width: 300px;
  }

  p {
    cursor: pointer;
  }

  .btn-edit {
    display: flex;
    height: 4vh;

    h5 {
      white-space: nowrap;
      overflow: hidden;
    }

    button {
      padding: 0;
    }
  }
}

.box-form:hover {
  transform: translateY(5px);
}

.form-dialog,
.dialog-put,
.dialog-message {
  height: 70vh;
  width: 65vh;
  border: none;
  border-radius: 20px;
  padding: 20px;
  color: #fff;
  background-color: #383838;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.dialog-message {
  height: 30vh;
  width: 30vw;

  button {
    height: 8vh;
    width: 10vw;
    color: #fff;
    font-weight: bold;
    font-size: x-large;
    position: fixed;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.dialog-put {
  height: 24vh;
  width: 40vw;

  .title {
    display: flex;
    justify-content: space-between;
    flex-direction: row;

    .button-container {
      .btn-submit {
        margin-right: 10px;
      }
    }
  }

  input {
    width: 32vw;
    height: 5vh;
    border: none;
    border-radius: 4px;
    margin-left: 10px;
  }

  .old-title {
    display: flex;
    margin-top: 25px;
    margin-bottom: 30px;

    p {
      color: #7b8385;
    }

    label {
      margin-right: 20px;
    }
  }
}

.forms-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.title-btn {
  display: flex;
  justify-content: space-between;

  h1 {
    height: 40px;
  }
}

.edit-container {
  border: 2px solid #1f1f1f;
  height: 5.8vh;
  width: 6vw;
  font-weight: bold;

  label {
    display: flex;
    justify-content: center;
  }

  .edit:hover,
  .delete:hover {
    background-color: #f0f0f0;
  }
}

.btn-edit {
  display: flex;
  align-items: center;
  height: 4vh;
  justify-content: space-between;
  button {
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
}

.btn {
  height: 30px;
  border-radius: 10px;
  border: none;
  min-width: 70px;
  margin: 0;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}

.btn-close-dialog {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  min-width: 40px;
  border-radius: 50%;
  background-color: #fff;
  width: 10px;
  svg {
    margin-right: 15px;
    height: 25px;
    margin: 0;
  }
}

.btn-container {
  display: flex;
  align-items: center;

  .btn-submit {
    background-color: #daff7d;
    color: #1f1f1f;
    margin-right: 10px;
  }
}

.box-dialog {
  margin: 0;
}

.box-question {
  display: flex;
  justify-content: flex-start;
  height: 300px;
  width: 350px;
}
