<div class="container">
  <div
    class="box-form questions-container"
    *ngFor="let question of selectedQuestionList ?? []; let i = index"
  >
    <h5>{{ question.content }}</h5>
    <div class="answer-container">
      <select
        id="grade-select"
        type="number"
        [(ngModel)]="userAnswers[i].grade"
      >
        <option value="grade" *ngFor="let item of listGrade" [value]="item">
          {{ item }}
        </option>
      </select>

      <input
        class="description-input"
        type="text"
        placeholder="Description (optional)"
        [(ngModel)]="userAnswers[i].description"
      />
    </div>
  </div>

  <dialog #dialog class="dialog">
    <div class="container-message">
      <h1>Responses Sent</h1>
      <button (click)="closeModal()">Ok</button>
    </div>
  </dialog>
</div>
