.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  padding: 20px;
}

.box-form {
  display: flex;
  flex-direction: column;
  padding: 10px;
  height: 150px;
  width: 300px;
  background-color: #fff;
  border-radius: 20px;
  border: 2px solid #1f1f1f;

  transition: transform 0.2s ease-in-out;
}

.answer-container {
  position: relative;
  top: 8vh;
  display: flex;
  justify-content: center;

  input {
    padding: 5px;
  }

  .grade-input {
    width: 2vw;
  }
}
