.main {
  position: relative;
  margin-left: 265px;
  color: #1f1f1f;

  .grade {
    display: flex;
    justify-content: space-between;
  }

  hr {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .desc {
    display: flex;
    justify-content: space-between;
    flex-direction: row;

    .description-title {
      margin-bottom: 5px;
    }

    .description-value {
      font-style: italic;
    }
  }
}

.container-answer {
  position: absolute;
  top: 40px;
  display: grid;
  flex-direction: row;
  grid-template-columns: repeat(5, 1fr);
}

.box-answer {
  height: 110px;
  width: 342px;
  margin-top: 40px;
  margin-right: 100px;
  padding: 10px;

  .answer {
    padding: 10px;
    border: 2px solid #1f1f1f;
    border-radius: 10px;
  }
}
