.container {
  display: flex;
  flex-direction: row;
}

.box-form {
  display: flex;
  height: 205px;
  width: 342px;
  margin-top: 40px;
  margin-left: 70px;
  background-color: #383838;
  border-radius: 20px;

  img {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    height: 204px;
    width: 341px;
  }
}
