.container {
  display: grid;
  flex-direction: row;
  grid-template-columns: repeat(4, 1fr);
}

.box-form {
  display: flex;
  flex-direction: column;
  height: 205px;
  width: 342px;
  margin-top: 40px;
  margin-left: 70px;
  background-color: #383838;
  border-radius: 20px;
  transition: transform 0.2s ease-in-out;

  .btn-edit {
    display: flex;
    height: 4vh;
    button {
      padding: 0;
    }
  }

  h4 {
    display: flex;
    align-items: center;
    margin-left: 11px;
    flex-grow: 1;
    white-space: nowrap;
    overflow: hidden;
    color: #fff;
  }

  button {
    border: none;
    background-color: #383838;
    padding: 5px;
  }

  img {
    border-radius: 20px;
    height: 156px;
    width: 332px;
    cursor: pointer;
  }
}

.edit-container {
  opacity: 0;
  display: flex;
  flex-direction: column;
  margin-top: 5px;
  padding: 5px;
  height: 5vh;
  width: 6vw;
  z-index: 10;
  background-color: #2c2c2c;
  font-weight: bold;
  color: #fff;
  border-radius: 3px;

  .edit {
    border-radius: 3px;
  }

  .edit:hover {
    background-color: #0c8ce9;
  }
  .delete:hover {
    background-color: #8a38f5;
  }

  .delete {
    border-radius: 3px;
  }
}

.active {
  opacity: 1;
}

.btn-edit {
  button {
    border: none;
    background-color: #383838;
    cursor: pointer;
  }
}

.box-form:hover {
  transform: translateY(5px);
}

.form-group-dialog,
.dialog-put,
.dialog-message {
  height: 70vh;
  width: 65vw;
  border: none;
  border-radius: 20px;
  padding: 20px;
  color: #fff;
  background-color: #383838;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.dialog-message {
  height: 30vh;
  width: 30vw;

  button {
    height: 8vh;
    width: 10vw;
    color: #fff;
    font-weight: bold;
    font-size: x-large;
    position: fixed;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.dialog-put {
  height: 24vh;
  width: 40vw;

  .title {
    display: flex;
    flex-direction: row;
  }

  input {
    width: 32vw;
    height: 5vh;
    border: none;
    border-radius: 4px;
    margin-left: 10px;
  }

  .old-title {
    display: flex;
    margin-bottom: 40px;

    p {
      color: #7b8385;
    }

    label {
      margin-right: 20px;
    }
  }
}

.title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  flex-direction: column;

  h1 {
    height: 35px;
  }
}

.btn {
  color: #fff;
  font-weight: bold;
}

.title-btn {
  display: flex;
  justify-content: space-between;
}

.btn-submit {
  height: 30px;
  background-color: #0d99ff;
  border-radius: 10px;
  border: none;
  min-width: 70px;
  margin: 0;
  margin-top: 5px;
  cursor: pointer;
}

.btn-close-dialog {
  background-color: #0d99ff;
  height: 30px;
  border-radius: 10px;
  border: none;
  min-width: 70px;
  margin: 0;
  margin-top: 5px;
  cursor: pointer;
  width: 10px;
  svg {
    margin-right: 15px;
    height: 25px;
    margin: 0;
  }
}
