.main-container {
  h1 {
    z-index: 1;
    display: flex;
    position: absolute;
    left: 5%;
    top: 2%;
  }
}

.container {
  display: grid;
  flex-direction: row;
  grid-template-columns: repeat(4, 1fr);
  position: absolute;
  top: 5%;
}

hr {
  position: relative;
  top: 40px;
  left: 77px;
  width: 12%;
  height: 1px;
  z-index: 0;
  background-color: #1f1f1f;
}

.box-form {
  display: flex;
  flex-direction: column;
  height: 205px;
  width: 342px;
  padding: 10px;
  margin-top: 40px;
  margin-left: 70px;
  border: 2px solid #1f1f1f;
  border-radius: 20px;
  transition: transform 0.2s ease-in-out;

  .btn-edit {
    display: flex;
    height: 4vh;
    button {
      background-color: #fff;
      padding: 0;
    }
  }

  p {
    color: #2c2c2c;
    margin-top: 20px;
    margin-left: 5px;
    cursor: pointer;
  }

  h3 {
    display: flex;
    align-items: center;
    margin-left: 11px;
    flex-grow: 1;
    padding: 4px;
    white-space: nowrap;
    overflow: hidden;
    color: #1f1f1f;
    border: 2px solid #fff;
    border-radius: 30px;
    background-color: #fff;
  }

  button {
    border: none;
    padding: 5px;
  }

  img {
    border-radius: 20px;
    height: 156px;
    width: 332px;
    cursor: pointer;
  }
}

.edit-container {
  border: 2px solid #1f1f1f;
  height: 5.8vh;
  width: 6vw;
  font-weight: bold;

  label {
    display: flex;
    justify-content: center;
  }

  .edit:hover,
  .delete:hover {
    background-color: #f0f0f0;
  }
}

.btn-edit {
  button {
    border: none;
    background-color: #2c2c2c;
    cursor: pointer;
  }
}

.box-form:hover {
  transform: translateY(5px);
}

.form-group-dialog,
.dialog-put,
.dialog-message {
  height: 70vh;
  width: 65vw;
  border: none;
  border-radius: 20px;
  padding: 20px;
  color: #1f1f1f;
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.dialog-message {
  height: 30vh;
  width: 30vw;

  button {
    height: 8vh;
    width: 10vw;
    color: #fff;
    font-weight: bold;
    font-size: x-large;
    position: fixed;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.dialog-put {
  height: 24vh;
  width: 40vw;

  .title {
    display: flex;
    flex-direction: row;
  }

  input {
    width: 32vw;
    height: 5vh;
    border: none;
    border-radius: 4px;
    margin-left: 10px;
  }

  .old-title {
    display: flex;
    margin-bottom: 40px;

    p {
      color: #7b8385;
    }

    label {
      margin-right: 20px;
    }
  }
}

.title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  flex-direction: column;

  h1 {
    height: 35px;
  }
}

.btn {
  color: #fff;
  font-weight: bold;
}

.title-btn {
  display: flex;
  justify-content: space-between;

  h1 {
    display: flex;
    position: absolute;
    left: 2%;
  }
}

.btn-submit {
  height: 30px;
  background-color: #0d99ff;
  border-radius: 10px;
  border: none;
  min-width: 70px;
  margin: 0;
  margin-top: 5px;
  cursor: pointer;
}

.btn-close-dialog {
  display: flex;
  position: absolute;
  left: 95%;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  height: 40px;
  border-radius: 50%;
  border: none;
  min-width: 40px;
  margin: 0;
  cursor: pointer;
  width: 10px;
  svg {
    margin-right: 15px;
    height: 25px;
    margin: 0;
  }
}

.message {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  border: 1px solid #1f1f1f;
  border-radius: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.form-component {
  display: flex;
  position: absolute;
  top: 12%;
  left: 3%;
}
